<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Home</title>
</head>
<body>
<h2>Welcome</h2>

<!--Teacher-->
<div sec:authorize="hasRole('ADMIN')">
    <div align="center">
        <div>
            <button>Assign Task</button>
        </div>
        <div>
            <button>Rate the Task</button>
        </div>
        <div>
            <button>Show students list</button>
        </div>
    </div>
</div>

<!--Parent-->
<div sec:authorize="hasRole('USER')">
    <div>
        <form action="#" th:action="@{/saveStudent}" th:object="${student}" method="post">
            <table>
                <tr>
                    <td><p>Id</p></td>
                    <td><input type="text" th:field="*{id}" readonly="readonly"/></td>
                </tr>
                <tr>
                    <td><p>Id Parent</p></td>
                    <td><input type="text" th:field="*{idParent}" readonly="readonly"/></td>
                </tr>
                <tr>
                    <td><p>First Name</p></td>
                    <td><input type="text" th:field="*{firstName}"/></td>
                </tr>
                <tr>
                    <td><p>Last Name</p></td>
                    <td><input type="text" th:field="*{lastName}"/></td>
                </tr>
                <tr>
                    <td><p>Class</p></td>
                    <td><input type="text" th:field="*{clazz}" readonly="readonly"/></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Save</button>
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>
