<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Home</title>
</head>
<body>
<h2>Welcome</h2>

<!--Teacher-->
<div sec:authorize="hasRole('ADMIN')">
    <table>
        <thead>
        <tr>
            <th>Student ID</th>
            <th>Id Parent</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Class</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.idParent}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.clazz}"></td>
            <td>
                <form action="#" th:action="@{/showStudent}" th:object="${student}" method="post">
                    <button type="submit">Show tasks</button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <h2>Tasks</h2>
        <table>
            <thead>
            <tr>
                <th>Task ID</th>
                <th>Id Teacher</th>
                <th>Description</th>
                <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.idTeacher}"></td>
                <td th:text="${task.description}"></td>
                <td type="date" th:text="${task.dueDate}"></td>
            </tr>
            </tbody>
        </table>

        <form action="#" th:action="@{/createTask}" th:object="${task}" method="post">
            <table border="1">
                <tr>
                    <td>Description</td>
                    <td>Due date</td>
                </tr>
                <tr>
                    <td><input type="text" th:field="*{description}"/></td>
                    <td><input type="date" th:field="*{dueDate}"/></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Add</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<!--Parent-->
<div sec:authorize="hasRole('USER')">
    <form action="#" th:action="@{/saveStudent}" th:object="${student}" method="post">
        <table>
            <tr>
                <td><p>Id</p></td>
                <td><input type="text" th:field="*{id}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td><p>Id Parent</p></td>
                <td><input type="text" th:field="*{idParent}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td><p>First Name</p></td>
                <td><input type="text" th:field="*{firstName}"/></td>
            </tr>
            <tr>
                <td><p>Last Name</p></td>
                <td><input type="text" th:field="*{lastName}"/></td>
            </tr>
            <tr>
                <td><p>Class</p></td>
                <td><input type="text" th:field="*{clazz}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>

    <form action="#" th:action="@{/deleteStudent}" th:object="${student}" method="post">
        <button type="submit">Delete</button>
    </form>

    <!--    File upload-->

    <div>
        <h2>Upload File</h2>
        <p th:text="${message}" th:if="${message ne null}"></p>
        <form action="#" th:action="@{/uploadFile}" enctype="multipart/form-data" method="post">
            <div>
                <input type="file" name="file">
            </div>
            <button type="submit">Upload File</button>
        </form>
    </div>

    <!--    <div>-->
    <!--        <img th:src="@{image}" th:if="${image ne null}"/>-->
    <!--    </div>-->

</div>

<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>
