<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Portal - Parent</title>
</head>
<body>
<div align="center">
    <div>
        <table>
            <tr>
                <td><p>First Name</p></td>
                <td><p>Last Name</p></td>
            </tr>
            <tr>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>
                    <button><a th:href="@{/indexView}">Register Child</a></button>
                </td>
                <td>
                    <button><a th:href="@{/indexView}">Edit Child</a></button>
                </td>
                <td>
                    <button><a th:href="@{/indexView}">Remove Child</a></button>
                </td>
            </tr>
        </table>

    </div>
    <div>
        <button><a th:href="@{/indexView}">Logout</a></button>
    </div>
</div>
</body>
</html>
