<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <title>Portal - Parent</title>
</head>
<body>
<div align="center">
    <div>
        <table>
            <tr>
                <td><p>First Name</p></td>
                <td><p>Last Name</p></td>
                <td><p>Class</p></td>
            </tr>
            <tr>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>
                    <button>Register Child</button>
                </td>
                <td>
                    <button>Edit Child</button>
                </td>
                <td>
                    <button>Remove Child</button>
                </td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>
