<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Registration</title>
</head>
<body>
<h1>Register</h1>
<form action="#" th:action="@{/createAccount}" th:object="${user}" method="post">
    <table border="1">
        <tr>
            <td>UserName</td>
            <td><input type="email" th:field="*{userName}"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td>Class</td>
            <td><input type="text" th:field="*{clazz}"/></td>
        </tr>
        <tr>
            <td>Role</td>
            <td>
                <select th:field="*{role}">
                    <option value="ROLE_ADMIN">Teacher</option>
                    <option value="ROLE_USER">Parent</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
            <td><button th:href="@{/index}">Cancel</button></td>
        </tr>
    </table>
</form>

</body>
</html>

